/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-May-2021, 01:54:37
    Author     : tisha
*/

.parent{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;
    
}
.sidebar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px 30px 0px 0px;
    
}
.search{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100px;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.search-button{
    -fx-background-color: #F5B041;
    -fx-background-radius: 30;
}

.background1{
    -fx-background-color: #FDEBD0;
}
.viewAllPro_button{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
}
.Cat_background1{
    -fx-background-color: #FB6F36;
    -fx-background-radius: 30;
}
.three_button{
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
}
